langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-anthropic
python-dotenv
typesense
langchain_openai
langgraph
llama-cloud-services
llama-parse
llama-index
llama-anthropic